.checkoutNav
{
  background-color: #fd7e14;
  opacity:0.8;
  margin-bottom: 3%;
   margin-top: -19px;
}
.checkoutNavHead
{
  padding-top:1.5%;
  width: 35%;
  margin: auto;
  height: 100px;
}

.checkoutNavText
{
  color:#ffff;
  font-size: 40px; 
  letter-spacing: 3px;
}
.breakLine
{
  background-color:black;
}

@media only screen and (max-width: 768px) {
.checkoutNavHead {
    margin-top: 1%;
    padding-top:4%;
    width: 93%;
    padding-bottom: 3%;
    margin:auto;
  }
  .containerForm
  {
    margin-left:5%;
    margin-right:5%;
  }
}