$orange : #ff9358;

// Global Classes
.orange{
    color: $orange;
}

.bgorange{
    background-color: $orange;
}


@mixin setPosition($left, $tx ){
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: $left;
    transform: translate($tx, -55%);
    -ms-transform: translate($tx, -55%);
    text-align: center;
}

// Product Card
.card{
    width: 30em;
    .cont{
        position: relative;
        &:hover .image{
            filter: brightness(30%);
        }
        &:hover .middleLeft, &:hover .middleRight{
            opacity: 1;
        }
        .image{
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .middleLeft{
            @include setPosition(43%, -57%);
        }
        .middleRight{
            @include setPosition(57%, -43%);
        }

    }
    .setMargin{
        margin-top: 1.5em;
    }
}

// Product main page
.Products{
    .mlauto{
        margin-left: auto;
        .m{
            margin-right: 1em;
            // margin-left: auto;
        }
        .btnBorder{
            border-color: $orange;
            color: $orange;
        }
        
        .btnHover{
            transition: 0.2s ease;
            &:hover{
                background-color: rgba($color: $orange, $alpha: 0.2);
                border-color: rgba($color: $orange, $alpha: 0.2);
            }
        }
    }
}

@media (min-width: 768px){
    .card{
        width: 18em;
    }
    .setMargin{
        margin-top: 3em;
    }
    .m{
        margin-right: 3em;
    }
    .searchbBarMargin{
        margin: 0 1.5em;
    }

}

@media (min-width: 1024px){
    .card{
        width: 27em;
    }
}